article.promo
  header.header
    img(src="img/cover.png", alt="")
    .brief
      h1 John Smith
      p Portland, Oregon, USA
      p English
    a.btn Print this page
  .content
    section
      article.item
        header
          h2 Portfolio
          small PHP, Ruby, Javascript
        .info
          ul
            li
              span NavalPlan
              | , PHP, Ruby
            li
              span MyTime
              | , Javascript
            li
              span Formidable
              | , PHP, Ruby
            li
              span MyTime
              | , Javascript
            li
              span Monsoon
              | , ActionScript

    section
      article.item
        header
          h2 Experience
        .info
          ul
            li
              span NavalPlan
              | , PHP, Ruby
            li
              span MyTime
              | , Javascript
            li
              span Formidable
              | , PHP, Ruby
            li
              span MyTime
              | , Javascript
            li
              span Monsoon
              | , ActionScript

    section(style="background-color: gray;")
      article.item
        header
          h2 Sample code and algorithms

    section
      article.item
        header
          h2 Availability
        .info
          p.accent Full-time
          h3 Preferred Environment
          p Git, Github, Vim, emacs, Jenkins, Mac OSX

    section
      article.item
        header
          h2 The most amazing &#8230;
        .info
          blockquote: p &#8230; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua et dolore magna aliqua et dol ut labore et dolore
            cite - Martin

    section
      article.item
        header
          h2 Is clients I look for
        .info
          blockquote: p &#8230; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua et dolore magna aliqua et dol ut labore et dolore
            cite - Martin

    section

    section
      article.item
        header
          h2 Note
        .info
          blockquote: p &#8230; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua et dolore magna aliqua et dol ut labore et dolore