.promo {
  margin: 1rem;
  border: 1px solid $bg-color;
  border-left: 0;

  .header {
    background-color: $bg-color;

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    @supports (display: flex) {
      display: flex;
      flex-flow: column nowrap;

      @media (min-width: $screen-sm) {
        flex-flow: row nowrap;
      }
    }

    & > img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      max-height: 300px;

      @media (min-width: $screen-sm) {
        width: 30%;
        float: left;
      }
    }

    .brief {
      padding: 2rem;

      @media (min-width: $screen-sm) {
        float: left;
        width: 70%;
      }
    }

    .btn {
      position: absolute;
      top: 2rem;
      right: 3rem;
    }
  }

  .content {

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    @supports (display: flex) {
      display: flex;
      flex-flow: column nowrap;

      @media (min-width: $screen-sm) {
        flex-flow: row wrap;
      }
    }
  }
}