.btn {
  position: relative;
  display: inline-block;
  background-color: $text-color;
  background-image: none;
  color: $text-color--light;
  margin: 0;
  padding: 1em 1.75em 1.1em;
  border-radius: 2em;
  font-size: $font-size--small;
  font-weight: 700;
  letter-spacing: 0.0125em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}