.item {
  width: 100%;
  text-align: center;

  header {
    padding: 2rem 1rem;
    background-color: rgba(255,255,255,0.5);

    @media (min-width: $screen-sm) {
      text-align: center;
    }
  }

  .info {
    padding: 1rem;
  }

  .accent {
    font-size: 2em;
    padding-bottom: 1rem;
    font-weight: 700;
    border-bottom: 1px solid $bg-color;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    margin: 0;
  }

  ul {
    text-align: left;
    padding-left: 1rem;
    margin: 0;

    li {

      span {
        font-weight: 700;
      }
    }
  }

  blockquote {
    max-width: 25em;
    font-style: italic;
    margin: auto;
    text-align: left;
  }

  cite {
    font-style: normal;
    display: block;
    font-weight: 700;
    margin-top: 1rem;

    @media (min-width: $screen-sm) {
      text-align: right;
    }
  }
}