.content {

  section {

    box-shadow: 1px 1px $bg-color, 1px 1px $bg-color inset;

    @media (min-width: $screen-sm) {
      float: left;
      width: 50%;
      min-height: 270px;
    }

    @media (min-width: $screen-md) {
      width: 25%;
    }
  }
}